.NftCardInfo {
  display: flex;
  flex-direction: column;
  gap: 1.45rem;
  border-bottom: 1px solid hsl(215, 32%, 27%);
  padding-bottom: 1.6rem;
}

.NftTitle {
  color: white;
  font-size: 1.6rem;
}

.NftTitle:hover {
  color: hsl(178, 100%, 50%);
  cursor: pointer;
}

.NftDesc {
  color: hsl(215, 51%, 70%);
  font-size: 1.18rem;
  line-height: 1.6;
}

.Aside {
  display: flex;
  align-items: center;
}

.Aside aside {
  display: flex;
  width: 100%;
  font-size: 1.18rem;
  align-items: center;
  color: hsl(215, 51%, 70%);
  gap: 0.4rem;
  justify-content: flex-end;
}

.Aside aside:first-child {
  font-weight: bold;
  justify-content: flex-start;
  color: hsl(178, 100%, 50%);
}

.NftType img,
.NftTimeLeft img {
  display: block;
}

.NftType img {
  width: 0.95rem;
}

.NftTimeLeft img {
  width: 1.25rem;
}

@media (min-width: 20em) {
  .NftTitle {
    font-size: 1.8rem;
  }

  .NftDesc {
    font-size: 1.4rem;
  }
  .Aside aside {
    font-size: 1.45rem;
  }
  .NftType img {
    width: 1rem;
  }

  .NftTimeLeft img {
    width: 1.4rem;
  }
}

@media (min-width: 22em) {
  .NftTitle {
    font-size: 2.1rem;
  }

  .NftDesc {
    font-size: 1.6rem;
  }

  .Aside aside {
    font-size: 1.62rem;
  }
  .NftType img {
    width: 1.15rem;
  }

  .NftTimeLeft img {
    width: 1.6rem;
  }
}

@media (min-width: 23em) {
  .NftTitle {
    font-size: 2.25rem;
  }

  .NftDesc {
    font-size: 1.7rem;
  }

  .Aside aside {
    font-size: 1.62rem;
    gap: 0.6rem;
  }
  .NftType img {
    width: 1.15rem;
  }

  .NftTimeLeft img {
    width: 1.6rem;
  }
}
