* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

html {
  font-size: 62.5%;
  background-color: hsl(217, 54%, 11%);
}

body {
  max-width: 2560px;
  margin: auto;
  padding: 21.6% 7.25%;
  /* padding: 6rem 2rem; */
}

@media (min-width: 64em) {
  body {
    padding: 8% 31.5%;
  }
}

@media (min-width: 85em) {
  body {
    padding: 8% 36%;
  }
}
